﻿@{
    ViewBag.Title = "Home Page";
}

<br/><br /><br />

<div class="jumbotron">
    <h1>Twilio POC</h1>
    <p>Press the create a room and share the url with your partner to join to call</p>
    <p><a href="@Url.Action("CreateRoom")" class="btn btn-primary btn-lg">Create a Room</a></p>
</div>