﻿@{
    ViewBag.Title = "Room - " + ViewBag.RoomName;
    Layout = "../Shared/_RoomLayout.cshtml";
}

<link href="~/Content/room-styles.css" rel="stylesheet" />

<h3 class="header-title">My Room</h3>

<hr />

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <input id="invitationUrl" readonly="readonly" class="form-control">
            <br />
            <button class="btn btn-success copy-url" data-clipboard-target="#invitationUrl">
                Copy to clipboard
            </button>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <button onclick="videoService.disconnect('@ViewBag.Sid')" class="btn btn-danger">Disconnect</button>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <div id="local-media">

        </div>
    </div>

    <div class="col-md-6">
        <div id="remote-media">

        </div>
    </div>
</div>

@section scripts
{
    <script src="//media.twiliocdn.com/sdk/js/video/v1/twilio-video.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.4/dist/loadingoverlay.min.js"></script>
    <script src="~/Scripts/twilio/video-scripts.js?hid=1"></script>

    <script>

        $(document).ready(function () {

            //initial copy invitation url
            $('#invitationUrl').val(window.location.href);
            var clipboard = new ClipboardJS('.copy-url');

            clipboard.on('success', function (e) {
                swal({
                    title: "Copied!",
                    text: "Invitation url is copied to your clipboard!",
                    icon: "success"
                });
                e.clearSelection();
            });

            clipboard.on('error', function(e) {
                swal({
                    title: "Error!",
                    text: "Unable to copied your invitation url!",
                    icon: "error"
                });
            });

            //initial twilio video api
            videoService.connectToRoom(
                '@ViewBag.RoomName',
                document.getElementById("remote-media"),
                document.getElementById("local-media"));
        });
    </script>
}