﻿.header-title {
    font-weight: bolder;
}

#local-media video {
    width: 100%;
}

#remote-media video {
    width: 100%;
}

#remote-media {
    min-height: 420px;
}

#local-media {
    min-height: 420px;
}

#invitationUrl {
    max-width: 400px !important;
}